.clusters {
    display: flex;
    flex-direction: column;
}

.clusterContainer {
    background-color: transparent;
    margin: 1em 0;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #ccc;
    overflow: hidden;
}

.clustersContentContainer {
    width: 40%;
    align-self: center;
}

.clustersContentTitle {
    font-weight: bold;
    font-size: 24px;
    margin: 1em 0 0.5em 0;
}

.clusterItem {
    background-color: white;
    position: relative;
    transition: all 0.25s;
    cursor: pointer;
    display: flex;
}

.clusterItem:hover {
    background-color: #ededed;
}

.clusterItemText {
    padding: 0 0.5em;
    user-select: none;
}

.clusterItemTimestamp {
    font-size: 14px;
    color: #888888;
}

.clusterItemTitle {
    font-weight: bold;
    white-space: nowrap;
}

.clusterItemContent {
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.clusterItemOptions {
    display: flex;
    align-items: center;
}

.clusterItemOptions > svg {
    transition: fill 0.25s;
    fill: #888;
}

.clusterItemOptions:hover > svg {
    fill: black;
}

.clusterItemOptionSelectBackground {
    position: fixed;
    background-color: transparent;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    cursor: default;
}

.clusterItemOptionSelect {
    position: fixed;
    background-color: white;
    box-shadow: 0 0 5px #aaa;
    border-radius: 5px;
    z-index: 100;
    padding: 0.25em;
    font-size: var(--options-font-size);
}

.selectMenuOption {
    padding: 0.25em;
    background-color: transparent;
    color: #444;
    border-radius: 5px;
    transition: all 0.15s;
}

.selectMenuOption:hover {
    background-color: #ededed;
    color: black;
}

.followButton {
    font-size: 16px;
    margin: 1em 0;
    width: fit-content;
}

.clusterHeaderTabContainer {
    display: flex;
    margin-bottom: 1em;
}

.headerTab {
    position: relative;
    margin-right: 1em;
    font-size: 18px;
}

.headerTabUnderline {
    content: '';
    background-color: black;
    position: absolute;
    height: 1px;
    width: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.3s;
}

div.headerTab:hover > .headerTabUnderline {
    background-color: #888;
}

.headerTabUnderlineSelected {
    width: 100%;
    left: 0;
}

.feedUsername {
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-shadow: 0 0 0 transparent;
    transition: text-shadow 0.5s;
}

.feedUsername:hover {
    text-shadow: 0 0 1px #aaa;
}
