.homeContainer {
    display: flex;
    flex-direction: column;
}

.entryInteractionContainer {
    width: 40%;
    align-self: center;
}

.threadViewer {
    width: 40%;
    align-self: center;
    border-bottom: 1px solid black;
}

.relatedListContainer {
    background-color: transparent;
    margin: 0 1em 1em 1em;
    overflow: hidden;
}


.relatedItem {
    font-size: 16px;
    padding: 0.5em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

.relatedItem:hover {
    background-color: #ccc;
}

.relatedItemText {
    margin: 0 0.5em;
    user-select: none;
}

.relatedItemTimestamp {
    font-size: 14px;
    color: #888888;
}

.relatedItemTitle {
    font-weight: bold;
}

.relatedItemContent {
    font-size: 14px;
}
