.homeContainer {
    display: flex;
    flex-direction: column;
}

.entryInteractionContainer {
    width: 40%;
    align-self: center;
}

.threadViewer {
    width: 40%;
    align-self: center;
    border-bottom: 1px solid black;
}
