.homeContainer {
    display: flex;
    flex-direction: column;
}

.entryInteractionContainer {
    width: 40%;
    align-self: center;
}

.threadViewer {
    width: 40%;
    align-self: center;
    border-bottom: 1px solid black;
}

.relatedListContainer {
    background-color: transparent;
    margin: 0 1em 1em 1em;
    border-top: 1px solid #aaa;
}

.relatedListTitle {
    font-size: 24px;
    margin: 0.5em 0;
}

.relatedItemContainer {
    position: relative;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    overflow: hidden;
}

.relatedItem {
    font-size: 16px;
    white-space: nowrap;
    background-color: white;
    position: relative;
    transition: all 0.5s;
    cursor: pointer;
}

.relatedItem:hover {
    background-color: #ededed;
}

.relatedItemText {
    margin: 0 0.5em;
    user-select: none;
}

.relatedItemTimestamp {
    font-size: 14px;
    color: #888888;
}

.relatedItemTitle {
    font-weight: bold;
}

.relatedItemContent {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}
