.loginPage {
    position: fixed;
    width: calc(100vw - var(--body-padding));
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginContainer, .loginField {
    --field-height: 1em;
    --field-width: 5em;
    --field-margin-y: 0.5em;
    --field-margin-x: 1em;
    --field-padding-y: 0.2em;
    --field-padding-x: calc(2 * var(--field-padding-y));
}

.loginContainer {
    width: calc(var(--field-width) + 2 * var(--field-padding-x) + 2 * var(--field-margin-x));
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0.5em;
    outline: 1px solid #eee;
}

.loginField {
    border: 1px solid transparent;
    font-size: var(--input-font-size);
    height: calc(100% - 2px);
    width: calc(100% - 2px - var(--field-padding-x));
    padding: 0;
    padding-left: var(--field-padding-x);
    background-color: white;
    outline: 0;
    transition: all 0.5s;
}

.loginFieldContainer {
    position: relative;
    margin: 0.5em 0;
}

.loginFieldContainer::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 1;
    right: 0;
    bottom: -3px;
    height: 1px;
    width: 0%;
    transition: width 0.5s;
}

.loginFieldContainer:hover::after {
    left: 0;
    width: 100%;
}

.loginField:focus {
    border: 1px solid black;
    background-color: #efefef;
}

.loginButton {
    border: 0;
    outline: 0;
    background-color: black;
    color: white;
    font-size: var(--input-font-size);
    padding: var(--field-padding-y) var(--field-padding-x);
    margin: var(--field-margin-y) var(--field-margin-x);
    margin-right: 0;
    margin-bottom: 0;
    transition: all 0.5s;
    cursor: pointer;
}

.loginButton:hover {
    outline: 1px solid black;
    color: black;
    background-color: white;
}

.error {
    border: 2px solid red;
}
